// Override default variables before the import
$primary: #ffffff;
$secondary: #3400a9;

h1,
h2,
div,
p,
textarea {
  color: $secondary;
}

textarea {
  background-color: $primary;
}

// Import Bootstrap and its default variables
@import '/../node_modules/bootstrap/scss/bootstrap.scss';

//define with default variables
h6 {
  color: $light;
}

Link {
  color: $primary;
}

Link:hover {
  color: $light;
  text-decoration: none;
}
